//
//  My Board.xcconfig
//  Board configuration file
//  ----------------------------------
//  Developed with embedXcode
//
//  Part of embedXcode
//  Embedded Computing on Xcode
//
//  Created by  Rei Vilo on Mar 12, 2012
//  Copyright   (c) 2010-2015 http://embedxcode.weebly.com
//  Licence     All rigths reserved
//
// Last update: Oct 09, 2014 release 212

// Feel free to customise this board configuration file for your own board.
// This board is included in the template and in any new project.
// Please refer to the chapter Use the Project • section Add Files
//   of the User Manual.

// Board identifier
// See Boards.txt for <tag>.name=Arduino Uno (16 MHz)
//
BOARD_TAG  = uno

// Port (optionnal)
// most common are /dev/tty.usbserial*, /dev/tty.usbmodem* or /dev/tty.uart*
//
BOARD_PORT = /dev/tty.usbmodem*

// References for Xcode code-sense
// See Boards.txt for <tag>.build.mcu=<GCC_PREPROCESSOR_DEFINITIONS>
//
GCC_PREPROCESSOR_DEFINITIONS = __AVR_ATmega328P__ ARDUINO

// Specify the full path and name of the application
// with /Contents/Resources/Java/** after
//
HEADER_SEARCH_PATHS = /Applications/Arduino.app/Contents/Resources/Java/** /Applications/Arduino.app/Contents/Java/**

// Maximum RAM size in bytes
// given by <tag>.upload.maximum_ram_size in boards.txt for Maple and Teensy
// given by <tag>.upload.maximum_data_size in boards.txt for Arduino 1.5.x
//
//MAX_RAM_SIZE = 2048

// Board volume name
// volume name used for upload by copying binary
//
//BOARD_VOLUME = /Volumes/MBED

